<div class="jumbotron">
    <h1 style="color:blue;">Log In</h1>
    <br>
    <form>
        <div class="form-group">
            <label><b>User</b></label>
            <input id="user" class="form-control" type="text" name="user" onchange="">
            <button class="btn btn-success mt-3 mb-5">Log In</button>
    </form>
</div>