<div class="jumbotron">
    <h1 style="color:blue;">See you soon!</h1>
    <p>You'll be redirected to login page</p>

</div>
<script>
    setTimeout(() => {
        document.location.href = "/api/user/login";
    }, 2000)
</script>