<div class="jumbotron">
    <h1 style="color:blue;">Bienvenido {{user}}</h1>
    <form action="/api/user/logout" method="get">
        <input id="logoutbutton" type="button" type="submit" value="Log out"><br><br>
    </form>
    <br>
</div>